<section class="contacts">
    <div class="contacts__color">
      <form action="" class="contacts__form">
        <div class="contacts__right-side-form">
          <div class="contacts__field-wrapper">
            <label class="contacts__label" for="name">Your name</label>
            <input class="contacts__field" type="text" name = "user-name" id="name" placeholder="Your Name">
          </div>
          <div class="contacts__field-wrapper">
            <label class="contacts__label" for="phone">Phone</label>
            <input class="contacts__field" type="tel" name="phone" id="phone" placeholder = "+1-999-999-9999">
          </div>
          <div class="contacts__field-wrapper">
            <label class="contacts__label" for="email">Email</label>
            <input class="contacts__field" type="email" name="email" id="email" placeholder="example@domain.com" required >
          </div>
        </div>
        <div class="contacts__left-side-form">
          <div class="contacts__field-wrapper">
            <label class="contacts__label" for="subject">Subject Property Address</label>
            <input class="contacts__field" type="text" name="subject" id="subjects" placeholder=" FL. 2199 Agriculture Lane">
          </div>
          <div class="contacts__field-wrapper">
            <label class="contacts__label" for="message">Message</label>
            <textarea class="contacts__text" name="message" id="message" placeholder="Tell us about your needs" required ></textarea>
          </div>
        </div>
        <button class="contacts__submit">SEND MESSAGE</button>
      </form>
    </div>
    <div class="contacts__empty">
      <div class="contacts__color-container">
        <div class="contacts__item-color"></div>
      </div>
      <div class="contacts__content">
        <h2 class="contacts__title">CONTACT US TODAY</h2>
        <p class="contacts__description">And find out how simple private lending can be </p>
        <a class="contacts__link" href="#">786-614-2550</a>
        <p class="contacts__caption">or leave a short message and we will contact you witin 1 business day</p>
      </div>
    </div>
  <!-- </div> -->
</section>
