<footer class="footer">
  <div class="footer__container container">
    <div class="footer__left-side">
      <h2 class="footer__title">Private Money Loans in Florida</h2>
      <p class="footer__description">VIG PRIVATE LENDING  <br>CA Headquarters <br>8383 Wilshire blvd, Suite 430, <br>Beverly Hills, CA 90211</p>
      <p class="footer__description">FL Office <br>2875 NE 191st St, Suite 500, <br> Aventura, FL 33180</p>
    </div>
    <div class="footer__right-side">
      <p class="footer__text">VIG focuses on making loans simple for our borrowers. When you speak with VIG representatives, you are talking to the decision makers who will inform you right away if your loan is approved. The documentation needed to close a VIG loan is minimal, and our sales team is committed to responding your needs. We are here for you to take care about your financial needs in hassle-free and efficient manner. </p>
      <p class="footer__text">Contact us today and find out how simple private lending can be.</p>
      <a class="footer__phone" href="#">786-614-2550</a>
      <a class="footer__email" href="#">contact@yardenconsulting.com</a>
    </div>
  </div>
</footer>
