.promo {
  min-height: 900px;
  padding-left: 10px;
  margin-top: -82px;
  position: relative;
  overflow: hidden;
}

.promo__container {
  display: flex;
}

.promo__text-block {
  width: 37.5%;
}

.promo__decor {
  position: absolute;
  overflow: hidden;
  width: calc(50vw + 140px);
  height: 100%;
  top: 0;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 180deg at 50% 50%, #D7FF01 0deg, #FAFF01 360deg);
    animation-name: rotateScale;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

}

.promo__title {
  font-family: $font-title;
  font-size: 70px;
  line-height: 100%;
  max-width: 302px;
  margin-top: 254px;
  margin-bottom: 24px;
}

@keyframes rotateScale {
  0% {
    transform: rotate(0) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.promo__image-block {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: calc(25vw - 80px);
}

.promo__caption {
  margin-top: 246px;
  max-width: 300px;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: var(--text);
  opacity: 0.8;
  margin-bottom: 34px;
}

.promo__contacts-link {
  background: rgba(32, 32, 32, 0.1);
  width: 140px;
  height: 140px;
  position: relative;
  margin-left: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    position: relative;
    z-index: 3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80px;
    height: 80px;
    background: conic-gradient(from 180deg at 50% 50%, #000000 0deg, #5B5B5B 360deg);
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 110px;
    height: 110px;
    background: rgba(32, 32, 32, 0.1);
    border-radius: 50%;
  }
}

.promo__legend {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  margin-top: 14px;
  margin-left: 73px;
}
