@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Comfortaa-Regular.woff2) format("woff2"), url(../fonts/Comfortaa-Regular.woff) format("woff");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Comfortaa-Bold.woff2) format("woff2"), url(../fonts/Comfortaa-Bold.woff) format("woff");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Comfortaa-Light.woff2) format("woff2"), url(../fonts/Comfortaa-Light.woff) format("woff");
}

@font-face {
    font-family: "Fredoca One";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/FredokaOne-Regular.woff2) format("woff2"), url(../fonts/FredokaOne-Regular.woff) format("woff");
    font-display: swap;
}
