html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
  font-weight: normal;
  font-family: $font;
  overflow-x: hidden;

  color: var(--text);

  counter-reset: section;

  --text: #202020;
  --change-text: #202020;
  --current-color: #97E11D;
  --gray: #606060;
  --start-color: #D7FF01;
  --second-color: #FAFF01;


}

.page-body--overflow {
    overflow: hidden;
}

.page-body--contacts {
  background-color: white;
}

.svg-fill {
  fill: var(--current-color);
}

.svg-stroke {
  stroke: var(--current-color);
}

.svg-fill-start {
  fill: var(--start-color);
}

.svg-fill-second {
  fill: var(--second-color);
}

.svg-start-color {
  stop-color: var(--start-color);
}

.svg-second-color {
  stop-color: var(--second-color);
}

a {
  color: inherit;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
