// Цвета

$font: "Comfortaa", "Arial", sans-serif;
$font-title: "Fredoca One", "Arial", sans-serif;

$desktop-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-max-width: 420px;
$mobile-width: 320px;
